@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color:white;
}

*{
    margin: 0;
    padding: 0;
}

nav{  
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

.medium{
    position: absolute;
    z-index: -1;
    height: 100px;
    width: 50px;
    border-color: bisque;
    text-align: center;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    border:3px solid white;
    padding: 20px;
    border-radius: 10px;
    background: rgba(112, 112, 109, 0.1); 
    backdrop-filter: blur(2px); 
    -webkit-backdrop-filter: blur(2px);
  }
  .item h5 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  
  .item p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .start-now {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f60;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .start-now:hover {
    background-color: #ff4500;
  }
  
.podcast{
  background-color: #ff4400;
  height: 100px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.podcast-text {
  position: absolute;
  text-align: center;
  color: #fff;
  border:3px solid white;
  padding: 20px;
  border-radius: 10px;
}

footer {
  height: 95px;
  width: auto;
  display:block;
	text-align: center;
  justify-content: center;
	background-color: #000000;
	color: white;
}

.active{
  transition: .5s;
}
.active:hover{
  color: #ff4400;
  transition: .5s;
}
.sec{
  display : flex;
  align-items : center;
  justify-content : center;  
}
.container1 {
  position : relative;
  width : 1100px;
  display : flex;
  align-items : center;
  justify-content : center;
  flex-wrap: wrap;
  padding : 10px;
}

.container1 .card {
  position: relative;
  max-width : 300px;
  height : 215px;  
  background-color : #fff;
  margin : 30px 10px;
  padding : 20px 15px;
  
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
.container1 .card:hover {
  height : 280px;    
}


.container1 .card .image {
  position : relative;
  width : 260px;
  height : 260px;
  
  top : -40%;
  left: 8px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
}

.container1 .card .image img {
  max-width : 100%;
  border-radius : 15px;
}

.container1 .card .content {
  position : relative;
  top : -140px;
  padding : 10px 5px;
  color : #111;
  text-align : center;
  
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
    
}
.container1 .card:hover .content {
   margin-top : 30px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
  
}

.play-now {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f60;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.play-now:hover {
  background-color: #ff4400;
}

.container{
  min-height: 72vh;
  background-color: rgb(249, 150, 0);
  color: white;
 font-family: 'Varela Round', sans-serif;
 display: flex;
 margin: 23px auto;
 width: 70%;
 border-radius: 12px;
 padding: 34px;
}

.bottom{
  position: sticky;
  bottom: 0;
  height: 130px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.icons{
  margin-top: 14px; 
}
.icons i{
  cursor: pointer;
}

#myProgressBar{
  width: 80vw; 
  cursor: pointer;
}

.songItemContainer{
  margin-top: 74px;
  align-items: center;
}

.songItem{
  position:relative;
  display: contents;
  height: 50px;
  display: flex;
  background-color: white;
  color: black;
  margin: 10px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
}

.songItem img{
  width: 43px;
  margin: 0 23px;
  border-radius: 34px;
}

.timestamp{
  margin: 0 23px;
}

.timestamp i{
  cursor: pointer;
}

.songInfo{
  position: absolute;
  left: 10vw;
  font-family: 'Varela Round', sans-serif;
}

.songInfo img{
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: white;
    }
  }